@{
    ViewData["Title"] = "Feed Page";
}
@model WeatherApp.ClientMVC.Models.FeedViewModel


<div>
    <h3> @ViewData["Title"] </h3>

    <div>
        <br>
        <h2>Login Page</h2>
        <form asp-controller="Feed" method="post">
            <p>Apply Filters</p>
            <div class="form-group">
                <label>Temperature Filter:</label>
                <input type="text" class="form-control" name="TempFahrFilter" placeholder="Temperature Filter"><br>
            </div>
            <div class="form-group">
                <select class="form-control" name="WeatherTypeFilter" asp-items="Model.WeatherTypes">
                <option selected>Weather Type Filter:</option>
                </select><br>
            </div>
    
            <div class="form-group">
                <label>ZipCode Filter:</label>
                <input type="text" class="form-control" name="ZipCodeFilter" placeholder="Zip Code"><br>
            </div>
            <button type="submit" class="btn btn-success">Apply Filters</button>
        </form>

            <h5>Posts</h5>
            @foreach (var blog in Model.FeedWithWeather)
            {
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="@blog.WeatherIconImage" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">
                            <h5>id: @blog.Post.PostID</h5>
                            <h5>userId: @blog.Post.UserID</h5>
                            <h5>blogPost: @blog.Post.BlogPost</h5>
                            <h5>imageFile: @blog.Post.ImageFile </h5>
                            <h5>Temp: @blog.Post.TempFahr</h5>
                            <h5>WeatherJson: @blog.Post.WeatherJson</h5>
                            <h5>WeatherType: @blog.Post.WeatherType</h5>
                            <h5> ZipCode: @blog.Post.ZipCode </h5>
                            </p>
                        </div>
                        <div class="card-footer">
                        <small class="text-muted">Last updated @blog.Post.PublishDateTime</small>
                     </div>
                </div>
               </div>
               <br>
               <br>
            
                @*<img src="http://p2.images.s3.amazonaws.com/bbqchicken-pizza.jpg" alt="bbq chicken pizza" width="200" height="200" />*@
            }
            <br>
            <br>
            <div>
                <form asp-controller="Landing" method="get">
                    <button type="submit" class="btn btn-success">Go back to your Landing page</button>
                </form>
            </div>

    </div>
</div>
