@{
    ViewData["Title"] = "Landing Page";
}
@model WeatherApp.ClientMVC.Models.LandingViewModel


<div class="container">
    <h3>Welcome @Model.User.FirstName @Model.User.LastName</h3>
    <h4>Your Current Weather</h4>
    <div>
       <div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
        <center><h4 >Current Weather:</h4></center>
        <div>
     <p style="float: left;"><img src=@Model.WeatherIcon alt="Weather Icon" width="150px";></p><br><br>
      <b> @Model.HomeZipRootObject.main.temp<sup>o</sup></b><br>
      <b> @Model.HomeZipRootObject.weather[0].description</b>
      </div>
      <br>
      
      <div class="caption">
        <p>
             
                            City:<b> @Model.HomeZipRootObject.name</b><br><br>
                            dt:<b> @Model.HomeZipRootObject.dt</b>
                            <!-- Weather Category:<b> @Model.HomeZipRootObject.weather[0].main</b>
                            Humidity:<b> @Model.HomeZipRootObject.main.humidity</b>
                            Temp_Min:<b> @Model.HomeZipRootObject.main.temp_min</b>
                            Temp_Max:<b> @Model.HomeZipRootObject.main.temp_max</b>
                            Country:<b> @Model.HomeZipRootObject.sys.country</b>
                            Sunrise:<b> @Model.HomeZipRootObject.sys.sunrise</b>
                            Sunset:<b> @Model.HomeZipRootObject.sys.sunset</b> -->
            
        </p>
      </div>
    </div>
  </div>
</div>
         <!-- <div class="row">
            <div class="col-md-12">
                
                    <div class="card" style="width: 18rem;">
                        <div class="thumbnail">
                 <img class="card-img-top" src=@Model.WeatherIcon alt="Card image cap">
                 <b> @Model.HomeZipRootObject.main.temp<sup>o</sup></b></br>
                 <b> @Model.HomeZipRootObject.weather[0].main</b>
                 </div>
                        <div class="card-body">
                            <h5 class="card-title">Weather Description:</h5>
                            <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Temperature:<b> @Model.HomeZipRootObject.main.temp</li></b>
                                <li class="list-group-item">Weather Type:<b> @Model.HomeZipRootObject.weather[0].description</li></b>
                            </ul>
                        </p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">City:<b> @Model.HomeZipRootObject.name</li></b>
                        <li class="list-group-item">dt:<b> @Model.HomeZipRootObject.dt</li></b>
                        <li class="list-group-item">Weather Category:<b> @Model.HomeZipRootObject.weather[0].main</li></b>
                        <li class="list-group-item">Humidity:<b> @Model.HomeZipRootObject.main.humidity</li></b>
                        <li class="list-group-item">Temp_Min:<b> @Model.HomeZipRootObject.main.temp_min</li></b>
                        <li class="list-group-item">Temp_Max:<b> @Model.HomeZipRootObject.main.temp_max</li></b>
                        <li class="list-group-item">Country:<b> @Model.HomeZipRootObject.sys.country</li></b></li>
                        <li class="list-group-item">Sunrise:<b> @Model.HomeZipRootObject.sys.sunrise</li></b></li>
                        <li class="list-group-item">Sunset:<b> @Model.HomeZipRootObject.sys.sunset</li></b></li>
                    </ul>


                </div>
            </div>
        </div>  -->

        <div class="row">
            <div class="col-md-6">
            <!-- <form asp-controller="Feed" method="get">
                <button type="submit" class="btn btn-success">Look at All Users' Posts</button>
            </form>
            <form asp-controller="MakeAPost" method="get">
                <button type="submit" class="btn btn-success">Make A New Post</button>
            </form> -->

            <h5>All Posts by @Model.User.FirstName  @Model.User.LastName</h5>
            @foreach (var pww in Model.PostsWithWeather)
            {
                @*<img src="http://p2.images.s3.amazonaws.com/bbqchicken-pizza.jpg" alt="bbq chicken pizza" width="200" height="200" />*@
                <div class="card mb-3">
                    <img class="card-img-top" src=@pww.WeatherIconImage alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><b>@pww.Post.PublishDateTime Post</b></h5>
                        <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">id: @pww.Post.PostID</li>
                                <li class="list-group-item">userId: @pww.Post.UserID</li>
                                <li class="list-group-item">blogPost: @pww.Post.BlogPost</li>
                                <li class="list-group-item">imageFile: <img src="~/UserFiles/Images/@pww.Post.ImageFile"></li>
                               <!-- <li class="list-group-item">WeatherJson: @pww.Post.WeatherJson</li>-->
                                <li class="list-group-item">WeatherType: @pww.Post.WeatherType</li>
                                <li class="list-group-item"> ZipCode: @pww.Post.ZipCode </li>
                                <li class="list-group-item"> Description: @pww.Weather.weather[0].main </li>
                            </ul>
                        </p>
                        <p class="card-text"><small class="text-muted"><b>Last updated: @pww.Post.PublishDateTime</b></small></p>
                    </div>
                </div>
                <br>
                <br>
            }

        </div>
    </div>
</div>
       
    
       
