@{
    ViewData["Title"] = "Index";
}
@model WeatherApp.ClientMVC.Models.MakeAPostViewModel

<div>
     <div class="col-md-6">
        <div class="card" style="width: 18rem;">
        <h5 class="card-title">Current Weather:</h5>
        <img class="card-img-top" src=@Model.WeatherIcon alt="Card image cap">
        <b> @Model.ZipRootObject.main.temp<sup>o</sup></b></br>
        <b> @Model.ZipRootObject.weather[0].main</b>
        <div class="card-body">
        
            <p class="card-text">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Weather Type:<b> @Model.ZipRootObject.weather[0].description</li></b>
            </ul>
            </p>
        </div>
    </div>
</div>


<div class="col-md-6">
<h2>Make a Post</h2>

@using (Html.BeginForm("Index", "MakeAPost", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="text" name="blogPost" />
    <input type="submit" value="OK" />
}

@*<form asp-controller="MakeAPost" method="post" enctype="multipart/form-data" asp-action="UploadFiles">
    <p>Create a New Post, @Model.User.FirstName @Model.User.LastName</p>

    @*<div class="form-group">
            <label>Image File:</label>
            <input type="text" class="form-control" name="NewPost.ImageFile" placeholder="Enter Weather Image"><br>
        </div>

        <div class="form-group">
            <label>Blog Post</label>
            <input type="text" class="form-control" name="NewPost.BlogPost" placeholder="Enter Weather Blog Post"><br>
        </div>
    <div class="form-group">
        <div class="container">
            <label>Image File</label>
            <input asp-for="NewPost.ImageFile" type="file" />
        </div>
    </div>

    <div class="form-group">
        <div class="container">
            <label>Blog Post</label>
            <input asp-for="NewPost.BlogPost" value="" />
        </div>
    </div>


    <button type="submit" class="btn btn-success">Make this post about the Weather</button>

</form>*@
</div>
